/** 
 * HCC styles
 *
 * 11/14/19
 */

.india-center-logo {
  display: block;
  width: 80%;
}

.main-menu-color {
  color: #666;
}

.main-menu-color:hover {
  color: #A11C2F;
}

.dropdown-item:hover, 
.dropdown-item:focus,
li.active.nav-item > .dropdown-item {
  background: #A11C2F;
  color: #fff;
}

/** Homepage slider **/
.owl-item h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.4em;
  text-shadow: -2px 2px 4px #333;
}

.owl-item a {
  background: #F5A623;
  padding: 0.6em 1.3em;
  display: inline-block;
  color: #fff;
}

.signup-link {
  display: block;
  background: url("../images/arrow-link.svg") 100% 50% no-repeat;
}

.signup-link .textwidget p {
  color: #777;
  font-size: 1.2em;
}

.get-in-touch-heading {
  font-size: 1.2em;
}

.data_portal_slider .carousel-control-prev {
  left: -10px;
}

.backlink {
  font-size: 0.8em;
}
